            body {
                font-size: 16px;
                background-color: blue;
            }

            h1 {
                font-family: sans-serif;
                line-height: 0;
                text-decoration: coral underline;
            }

            p {
                font-size: 3em;
                font-weight: 600;
                font-style: italic;
                text-decoration: coral underline;
            }

            ul {
                font-size: 2em;
            }

            #yellow {
                background-color: yellow;
                text-decoration-line: line-through;
            }
            
            #red {
                background-color: red;
            }

            #brown {
                background-color: brown;
                text-decoration-line: line-through;
            }